[submodule "Source/Bootstrap"]
	path = Source/Bootstrap
	url = https://github.com/xenusos/KernelLKM.git
[submodule "Source/CommonKernel"]
	path = Source/CommonKernel
	url = https://github.com/xenusos/KernelSourceCommon.git
[submodule "Source/Kernel"]
	path = Source/Kernel
	url = https://github.com/xenusos/KernelSourceKernel
[submodule "Source/LibOSTypes"]
	path = Source/LibOSTypes
	url = https://github.com/xenusos/KernelSourceLibOS
[submodule "Source/LibOS"]
	path = Source/LibOS
	url = https://github.com/xenusos/KernelSourceLibOS.git
[submodule "Source/LibCompiler"]
	path = Source/LibCompiler
	url = https://github.com/xenusos/KernelSourceLibCompiler.git
[submodule "Source/Modules/SelfTest"]
	path = Source/Modules/SelfTest
	url = https://bitbucket.org/teamxenus/kpselftest.git
[submodule "Source/Modules/NTOS"]
	path = Source/Modules/NTOS
	url = https://bitbucket.org/teamxenus/kpntos.git
[submodule "Source/Modules/Template"]
	path = Source/Modules/Template
	url = https://bitbucket.org/teamxenus/kptemplate.git
